{% extends 'overall/layout' %}
{% block appMetaHead %}
<title>
    Pacientes | {{config.build.name}}
</title>
{% endblock %}
{% block appHead %}
<!-- DashForge CSS -->
<link href="assets/dashforge/lib/quill/quill.core.css" rel="stylesheet"/>
<link href="assets/dashforge/lib/quill/quill.snow.css" rel="stylesheet"/>
<link href="assets/dashforge/lib/quill/quill.bubble.css" rel="stylesheet"/>
<link href="assets/dashforge/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet"/>
<link href="assets/dashforge/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet"/>
<link href="assets/dashforge/assets/css/dashforge.css" rel="stylesheet"/>
<link href="assets/dashforge/assets/css/dashforge.contacts.css" rel="stylesheet"/>
<style type="text/css">
    .ui-accordion-content {
        border: 0px !important;
        padding: 0 0px 0px 0px !important;
    }
    .contact-list nav {
        display: block !important;
    }
    .ql-tooltip ql-flip {
        display: none !important;
    }
    .ql-tooltip-arrow {
        display: none !important;
    }
    .ql-toolbar {
        display: none !important;
    }
</style>
{% endblock %}
{% block appHeader %}
{% include 'overall/header-pacientes' %}
{% endblock %}
{% block appBody %}
<div class="contact-wrapper">
    <div class="contact-navleft">
        <nav class="nav flex-column" id="navPacientes">
            <a class="nav-link active" data-panel="tabCitasHoy" data-toggle="tab" href="#tabCitasHoy">
                <span data-panel="tabCitasHoy" data-placement="right" data-toggle="tooltip">
                    <i class="icon ion-md-calendar tx-22">
                    </i>
                </span>
            </a>
            <a class="nav-link" data-panel="tabCitasRecientes" data-toggle="tab" href="#tabCitasRecientes">
                <span data-panel="tabCitasRecientes" data-placement="right" data-toggle="tooltip">
                    <i class="icon ion-md-people tx-22">
                    </i>
                </span>
            </a>
            <a class="nav-link d-none" data-toggle="tab" href="#tabCitasTags">
                <span data-placement="right" data-toggle="tooltip">
                    <i class="icon ion-md-pricetags tx-22 ">
                    </i>
                </span>
            </a>
        </nav>
    </div>
    <!-- contact-navleft -->
    <div class="contact-sidebar">
        <div class="contact-sidebar-header">
            <i data-feather="search">
            </i>
            <div class="search-form">
                <input class="form-control" id="searchCitas" placeholder="Buscar por Nombres y Apellidos" type="search">
                </input>
            </div>
        </div>
        <!-- contact-sidebar-header -->
        <div class="contact-sidebar-body">
            <div class="tab-content">
                <div class="tab-pane fade active show" id="tabCitasHoy">
                    <div class="contact-list" id="allPtesHoy">
                    </div>
                    <!-- contact-list -->
                </div>
                <div class="tab-pane fade" id="tabCitasRecientes">
                    <div class="contact-list" id="allPtesRecientes">
                    </div>
                    <!-- contact-list -->
                </div>
                <div class="tab-pane fade" id="tabSearchCitas">
                    <div class="contact-list" id="allSearchPtes">
                    </div>
                    <!-- contact-list -->
                </div>
                <!-- tab-pane -->
                <div class="tab-pane fade" id="tabCitasTags">
                    <div class="pd-y-25 pd-x-20">
                        <h6 class="tx-12 tx-semibold tx-spacing-1 tx-uppercase">
                            Export Contacts
                        </h6>
                        <p class="tx-13 tx-color-03 mg-b-20">
                            You can export your contacts and import them into other email apps.
                        </p>
                        <div class="form-group">
                            <label class="tx-13">
                                Which contacts do you want to export?
                            </label>
                            <select class="custom-select tx-13">
                                <option selected="" value="1">
                                    All Contacts
                                </option>
                                <option value="2">
                                    My Favorites
                                </option>
                                <option value="3">
                                    My Family
                                </option>
                                <option value="4">
                                    My Friends
                                </option>
                                <option value="4">
                                    My Officemates
                                </option>
                            </select>
                        </div>
                        <!-- form-group -->
                        <button class="btn btn-sm btn-primary">
                            Export
                        </button>
                    </div>
                </div>
                <!-- tab-pane -->
            </div>
            <!-- tab-content -->
        </div>
        <!-- contact-sidebar-body -->
    </div>
    <!-- contact-sidebar -->
    <div class="contact-content">
        <div class="contact-content-header wd-100p">
            <nav class="nav">
                <a class="nav-link active" data-toggle="tab" href="#paciente">
                    Paciente
                </a>
                <a class="nav-link" data-toggle="tab" href="#hc">
                    Historial de Atenciones
                </a>
                <a class="nav-link" data-toggle="tab" href="#lab">
                    Laboratorio
                </a>
                <a class="nav-link" href="{{config.build.url}}link-to-imagen" target="_blank">
                    Imagen
                </a>
                <a class="nav-link" data-toggle="tab" href="#logs">
                    Historial de Actividad
                </a>
                <a class="nav-link live-active d-none" data-toggle="tab" href="#live">
                    Live
                </a>
            </nav>
            <a class="text-secondary mg-l-auto d-xl-none" href="" id="contactOptions">
                <i data-feather="more-horizontal">
                </i>
            </a>
        </div>
        <!-- contact-content-header -->
        <div class="contact-content-body wd-100p">
            <div class="tab-content">
                <div class="tab-pane show active pd-20 pd-xl-25" id="paciente">
                </div>
                <div class="tab-pane pd-20 pd-xl-25" id="hc">
                    <div class="d-none" id="lists-hc">
                    </div>
                    <div class="d-none" id="load-lists-hc">
                        <div class="placeholder-paragraph">
                            <div class="line">
                            </div>
                            <div class="line">
                            </div>
                        </div>
                    </div>
                    <div class="d-none" id="load-view-hc">
                        <div class="placeholder-paragraph pd-y-25 pd-x-20">
                            <div class="line">
                            </div>
                            <div class="line">
                            </div>
                        </div>
                    </div>
                    <div class="d-none" id="view-hc">
                    </div>
                </div>
                <div class="tab-pane pd-20 pd-xl-25" id="lab">
                    <div class="mg-b-30">
                        <div id="d-resultados-lab">
                            <table class="table" id="resultados-lab" width="100%">
                            </table>
                        </div>
                        <div class="d-none" id="d-view-resultado">
                            <div class="card">
                                <div class="card-header">
                                    <div class="divider-text">
                                        <a class="card-link mg-r-20 tx-12" href="#" id="prev">
                                            <i class="icon ion-md-return-left">
                                            </i>
                                            Anterior
                                        </a>
                                        <span class="tx-12">
                                            Página:
                                            <span id="page_num">
                                            </span>
                                            /
                                            <span id="page_count">
                                            </span>
                                        </span>
                                        <a class="card-link mg-l-20 tx-12" href="#" id="next">
                                            Siguiente
                                            <i class="icon ion-md-return-right">
                                            </i>
                                        </a>
                                        <a class="card-link text-danger mg-l-150 tx-12 reset-render-lab" href="#">
                                            << Regresar
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-center">
                                        <canvas id="render-resultado" width="100%">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane pd-20 pd-xl-25" id="logs">
                    <div class="d-flex align-items-center justify-content-between mg-b-30">
                        <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
                            <div class="media d-block d-lg-flex">
                                <div class="media-body">
                                    <div class="timeline-group tx-13">
                                        <div class="d-none" id="lists-logs">
                                        </div>
                                        <div class="d-none" id="load-lists-logs">
                                            <div class="placeholder-paragraph">
                                                <div class="line">
                                                </div>
                                                <div class="line">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- timeline-group -->
                                </div>
                                <!-- media-body -->
                            </div>
                            <!-- media -->
                        </div>
                        <!-- container -->
                    </div>
                </div>
                <div class="tab-pane" id="live">
                    <iframe id="i-live" src="{{config.build.url}}blank" style="border:none;position:absolute;height:100%;width:100%;">
                    </iframe>
                </div>
            </div>
            <!-- tab-content -->
        </div>
        <!-- contact-content-body -->
        <div class="contact-content-sidebar d-none">
            <h5 class="tx-18 tx-xl-20 mg-b-5" id="s-nombresPte">
            </h5>
            <p class="tx-13 tx-lg-12 tx-xl-13 tx-color-03 mg-b-20" id="s-nhcPte">
            </p>
            <p class="tx-13 tx-lg-12 tx-xl-13 tx-color-03 mg-b-20" id="statusConnectPte">
                <div id="s-statusConnectPte">
                    <div class="spinner-grow spinner-grow-sm" role="status">
                    </div>
                    Esperando conexión de Paciente
                </div>
            </p>
            <div class="d-none" id="opcClose">
                <hr class="mg-y-20">
                    <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-15">
                        Opciones
                    </label>
                    <nav class="nav flex-column contact-content-nav mg-b-25">
                        <a class="nav-link text-danger d-none close-zoom" href="#!">
                            <i data-feather="slash">
                            </i>
                            Cerrar Teleconsulta
                        </a>
                        <a class="nav-link d-none" href="#!">
                            <i data-feather="star">
                            </i>
                            Agregar a Favoritos
                        </a>
                    </nav>
                </hr>
            </div>
            <div class="accordion mg-t-15">
                <h6 class="d-flex flex-row justify-content-between">
                    Motivo Consulta
                    <div class="spinner-grow spinner-grow-sm mg-l-10 save-1 d-none" role="status" title="Guardando...">
                    </div>
                    <div class="check-1 d-none" title="Texto Guardado">
                        <i class="wd-15 ht-auto" data-feather="check-circle">
                        </i>
                    </div>
                </h6>
                <div class="pos-relative ht-350">
                    <div class="pos-relative ht-100p mn-ht-100p bd overflow-hidden" id="scrolling-container-motivoConsulta">
                        <div class="ht-auto" id="motivoConsulta">
                        </div>
                    </div>
                </div>
                <h6 class="d-flex flex-row justify-content-between">
                    Antecedentes Familiares
                    <div class="spinner-grow spinner-grow-sm mg-l-10 save-2 d-none" role="status" title="Guardando...">
                    </div>
                    <div class="check-2 d-none" title="Texto Guardado">
                        <i class="wd-15 ht-auto" data-feather="check-circle">
                        </i>
                    </div>
                </h6>
                <div class="pos-relative ht-350">
                    <div class="pos-relative ht-100p mn-ht-100p bd overflow-hidden" id="scrolling-container-antecedentes">
                        <div class="ht-auto" id="antecedentes">
                        </div>
                    </div>
                </div>
                <h6 class="d-flex flex-row justify-content-between">
                    Diagnóstico
                    <div class="spinner-grow spinner-grow-sm mg-l-10 save-3 d-none" role="status" title="Guardando...">
                    </div>
                    <div class="check-3 d-none" title="Texto Guardado">
                        <i class="wd-15 ht-auto" data-feather="check-circle">
                        </i>
                    </div>
                </h6>
                <div class="pos-relative ht-350">
                    <div class="pos-relative ht-100p mn-ht-100p bd overflow-hidden" id="scrolling-container-diagnosticos">
                        <div class="ht-auto" id="diagnosticos">
                        </div>
                    </div>
                </div>
                <h6 class="d-flex flex-row justify-content-between">
                    Evoluciones
                    <div class="spinner-grow spinner-grow-sm mg-l-10 save-4 d-none" role="status" title="Guardando...">
                    </div>
                    <div class="check-4 d-none" title="Texto Guardado">
                        <i class="wd-15 ht-auto" data-feather="check-circle">
                        </i>
                    </div>
                </h6>
                <div class="pos-relative ht-350">
                    <div class="pos-relative ht-100p mn-ht-100p bd overflow-hidden" id="scrolling-container-evoluciones">
                        <div class="ht-auto" id="evoluciones">
                        </div>
                    </div>
                </div>
                <h6 class="d-flex flex-row justify-content-between">
                    Preescripciones
                    <div class="spinner-grow spinner-grow-sm mg-l-10 save-5 d-none" role="status" title="Guardando...">
                    </div>
                    <div class="check-5 d-none" title="Texto Guardado">
                        <i class="wd-15 ht-auto" data-feather="check-circle">
                        </i>
                    </div>
                </h6>
                <div class="pos-relative ht-350">
                    <div class="pos-relative ht-100p mn-ht-100p bd overflow-hidden" id="scrolling-container-preescripciones">
                        <div class="ht-auto" id="preescripciones">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact-content-sidebar -->
    </div>
    <!-- contact-content -->
</div>
<!-- contact-wrapper -->
{% endblock %}
{% block appFooter %}
{% include 'overall/footer' %}
{% include 'pacientes/roles/1/templates' %}
{% endblock %}
{% block appScripts %}
<script defer="" src="assets/dashforge/lib/perfect-scrollbar/perfect-scrollbar.min.js">
</script>
<script defer="" src="assets/dashforge/lib/datatables.net/js/jquery.dataTables.min.js">
</script>
<script defer="" src="assets/dashforge/lib/datatables.net-dt/js/dataTables.dataTables.min.js">
</script>
<script defer="" src="assets/dashforge/lib/datatables.net-responsive/js/dataTables.responsive.min.js">
</script>
<script defer="" src="assets/dashforge/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js">
</script>
<script defer="" src="assets/dashforge/lib/moment/min/moment.min.js">
</script>
<script defer="" src="assets/dashforge/lib/select2/js/select2.min.js">
</script>
<script defer="" src="assets/dashforge/lib/quill/quill.min.js">
</script>
<script defer="" src="assets/dashforge/assets/js/dashforge.js">
</script>
<script defer="" src="assets/dashforge/assets/js/dashforge.contacts.js">
</script>
<script defer="" src="//mozilla.github.io/pdf.js/build/pdf.js">
</script>
<script type="text/javascript">
    var epDatosMedico = '{{config.apiHm.baseUrl}}{{config.apiHm.medicos.datosMedico}}';
    var epCitasAgendaPendientes = '{{config.apiHm.baseUrl}}{{config.apiHm.medicos.citasAgendaPendientes}}';
    var epCitasAgendaPasadas = '{{config.apiHm.baseUrl}}{{config.apiHm.medicos.citasAgendaPasadas}}';
    var epCitasNombres = '{{config.apiHm.baseUrl}}{{config.apiHm.medicos.citasNombres}}';
    var epDatosPaciente = '{{config.apiHm.baseUrl}}{{config.apiHm.medicos.datosPaciente}}';
    var epHistoriasClinicasAnteriores = '{{config.apiHm.baseUrl}}{{config.apiHm.medicos.historiasClinicasAnteriores}}';
    var epHistoriasClinicasConsultar = '{{config.apiHm.baseUrl}}{{config.apiHm.medicos.historiasClinicasConsultar}}';
    var epFacturarAtencion = '{{config.apiHm.baseUrl}}{{config.apiHm.medicos.facturarAtencion}}';
    var epCrearHC = '{{config.apiHm.baseUrl}}{{config.apiHm.medicos.crearHC}}';
    var apiCitas = '{{config.build.url}}{{config.api.citas}}';
    var apiZoomEliminar = '{{config.build.url}}{{config.api.zoomEliminar}}';
    var apiStatusPartcipantes = '{{config.build.url}}{{config.api.statusParticipantes}}';
</script>
<script defer="" src="dist/app/js/notificaciones.js?{{ date().timestamp }}">
</script>
<script defer="" src="dist/app/js/teleconsulta.js?{{ date().timestamp }}">
</script>
<script defer="" src="dist/app/js/laboratorio.js?{{ date().timestamp }}">
</script>
<script defer="" src="dist/app/js/logs.js?{{ date().timestamp }}">
</script>
{% endblock %}
