<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Required meta tags -->
        <base href="{{config.build.url}}"/>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
        <!-- Meta -->
        <meta content="{{config.build.name}}" name="description"/>
        <meta content="@martinxapps" name="author"/>
        <!-- Favicon -->
        <link href="assets/dashforge/assets/img/favicon.png" rel="shortcut icon" type="image/x-icon"/>
        <title>
            Error 404 | {{config.build.name}}
        </title>
        <!-- vendor css -->
        <link href="assets/dashforge/lib/%40fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet"/>
        <link href="assets/dashforge/lib/ionicons/css/ionicons.min.css" rel="stylesheet"/>
        <!-- DashForge CSS -->
        <link href="assets/dashforge/assets/css/dashforge.css" rel="stylesheet"/>
        <link href="assets/dashforge/assets/css/dashforge.auth.css" rel="stylesheet"/>
    </head>
    <body>
        <header class="navbar navbar-header navbar-header-fixed">
            <a class="burger-menu" href="#" id="mainMenuOpen">
                <i data-feather="menu">
                </i>
            </a>
            <div class="navbar-brand">
                <a class="df-logo" href="{{config.build.url}}">
                    Tele<span>medico</span>
                </a>
            </div>
            <!-- navbar-brand -->
            <div class="navbar-menu-wrapper" id="navbarMenu">
                <div class="navbar-menu-header">
                    <a class="df-logo" href="{{config.build.url}}">
                        Tele<span>medico</span>
                    </a>
                    <a href="#" id="mainMenuClose">
                        <i data-feather="x">
                        </i>
                    </a>
                </div>
            </div>
            <!-- navbar-menu-wrapper -->
        </header>
        <!-- navbar -->
        <div class="content content-fixed content-auth-alt">
            <div class="container ht-100p tx-center">
                <div class="ht-100p d-flex flex-column align-items-center justify-content-center">
                    <div class="wd-70p wd-sm-250 wd-lg-300 mg-b-15">
                        <img alt="" class="img-fluid" src="assets/dashforge/assets/img/img19.png"/>
                    </div>
                    <h1 class="tx-color-01 tx-24 tx-sm-32 tx-lg-36 mg-xl-b-5">
                        404 Página no encontrada
                    </h1>
                    <h5 class="tx-16 tx-sm-18 tx-lg-20 tx-normal mg-b-20">
                        Oopps. La página que estabas buscando no existe.
                    </h5>
                    <p class="tx-color-03 mg-b-20">
                        Es posible que haya escrito mal la dirección o que la página se haya movido. Intenta regresar al inicio.
                    </p>
                    <div class="d-flex mg-b-40">
                        <a class="btn btn-brand-02 bd-0 mg-l-5 pd-sm-x-25" href="{{config.build.url}}" role="button">
                            << Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- container -->
    <!-- content -->
    <footer class="footer">
        <div>
            <span>
                © {{ "now"|date("Y") }} {{config.build.copyright}}
            </span>
        </div>
    </footer>
    <script src="assets/dashforge/lib/jquery/jquery.min.js">
    </script>
    <script src="assets/dashforge/lib/bootstrap/js/bootstrap.bundle.min.js">
    </script>
    <script src="assets/dashforge/lib/feather-icons/feather.min.js">
    </script>
    <script src="assets/dashforge/lib/perfect-scrollbar/perfect-scrollbar.min.js">
    </script>
    <script src="assets/dashforge/assets/js/dashforge.js">
    </script>
</html>
