{% extends 'overall/layout' %}
{% block appMetaHead %}
<title>
    Configuración | {{config.build.name}}
</title>
{% endblock %}
{% block appHead %}
<!-- DashForge CSS -->
<link href="assets/dashforge/assets/css/dashforge.profile.css" rel="stylesheet"/>
{% endblock %}
{% block appHeader %}
{% include 'overall/header' %}
{% endblock %}
{% block appBody %}
<div class="content content-fixed bd-b">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h4 class="mg-b-5">
                    Configuración
                </h4>
                <p class="mg-b-0 tx-color-03">
                    Configura las diferentes opciones del sistema
                </p>
            </div>
        </div>
    </div>
    <!-- container -->
</div>
<!-- content -->
<div class="content">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="row">
            <!-- col -->
            <div class="col-sm-12 col-lg-12 col-xl-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item active">
                            <a href="#">
                                Configuración
                            </a>
                        </li>
                    </ol>
                </nav>
                <div class="row mg-t-30">
                    <div class="col-sm-4 col-lg-12 col-xl d-none">
                        <div class="media mg-t-10 d-none">
                            <div class="wd-45 ht-45 bg-primary rounded d-flex align-items-center justify-content-center">
                                <i class="tx-white-7 wd-20 ht-20" data-feather="users">
                                </i>
                            </div>
                            <div class="media-body pd-l-25">
                                <h6 class="tx-color-01 mg-b-5">
                                    Categorías de Pacientes
                                </h6>
                                <p class="tx-12 mg-b-10">
                                    Configura las diferentes categorias de tus pacientes.
                                    <br/>
                                    <a href="{{config.build.url}}configuracion/categorias-pacientes">
                                        Ver Mas
                                    </a>
                                </p>
                            </div>
                        </div>
                        <!-- media -->
                        <div class="media mg-t-10">
                            <div class="wd-45 ht-45 bg-warning rounded d-flex align-items-center justify-content-center">
                                <i class="tx-white-7 wd-20 ht-20" data-feather="calendar">
                                </i>
                            </div>
                            <div class="media-body pd-l-25">
                                <h6 class="tx-color-01 mg-b-5">
                                    Horarios
                                </h6>
                                <p class="tx-12 mg-b-10">
                                    Configura los tipos de citas: sus horarios y duración.
                                    <br/>
                                    <a href="{{config.build.url}}configuracion/horarios">
                                        Ver Mas
                                    </a>
                                </p>
                            </div>
                        </div>
                        <!-- media -->
                    </div>
                    <!-- col -->
                    <div class="col-sm-12 col-lg-12 col-xl-12 mg-t-25 mg-sm-t-0 mg-lg-t-25 mg-xl-t-0">
                        <div class="media mg-t-10">
                            <div class="wd-45 ht-45 bg-warning rounded d-flex align-items-center justify-content-center">
                                <i class="tx-white-7 wd-20 ht-20" data-feather="calendar">
                                </i>
                            </div>
                            <div class="media-body pd-l-25">
                                <h6 class="tx-color-01 mg-b-5">
                                    Horarios
                                </h6>
                                <p class="tx-12 mg-b-10">
                                    Configura los tipos de citas: sus horarios y duración.
                                    <br/>
                                    <a href="{{config.build.url}}configuracion/horarios">
                                        Ver Mas
                                    </a>
                                </p>
                            </div>
                        </div>
                        <!-- media -->
                        <div class="media mg-t-10">
                            <div class="wd-45 ht-45 bg-primary rounded d-flex align-items-center justify-content-center">
                                <i class="tx-white-7 wd-20 ht-20" data-feather="users">
                                </i>
                            </div>
                            <div class="media-body pd-l-25">
                                <h6 class="tx-color-01 mg-b-5">
                                    Usuarios
                                </h6>
                                <p class="tx-12 mg-b-10">
                                    Configura los accesos de tus usuarios.
                                    <br/>
                                    <a href="{{config.build.url}}configuracion/usuarios">
                                        Ver Mas
                                    </a>
                                </p>
                            </div>
                        </div>
                        <!-- media -->
                        <div class="media mg-t-10">
                            <div class="wd-45 ht-45 bg-pink rounded d-flex align-items-center justify-content-center">
                                <i class="tx-white-7 wd-20 ht-20" data-feather="briefcase">
                                </i>
                            </div>
                            <div class="media-body pd-l-25">
                                <h6 class="tx-color-01 mg-b-5">
                                    Facturación y Pagos
                                </h6>
                                <p class="tx-12 mg-b-10">
                                    Gestiona tus datos de facturación y pagos.
                                    <br/>
                                    <a href="{{config.build.url}}configuracion/facturacion">
                                        Ver Mas
                                    </a>
                                </p>
                            </div>
                        </div>
                        <!-- media -->
                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
            <!-- col -->
        </div>
    </div>
</div>
{% endblock %}
{% block appFooter %}
{% endblock %}
{% block appScripts %}
<script defer="" src="assets/dashforge/lib/perfect-scrollbar/perfect-scrollbar.min.js">
</script>
<script defer="" src="assets/dashforge/assets/js/dashforge.js">
</script>
<script defer="" src="dist/app/js/config.js?{{ date().timestamp }}">
</script>
{% endblock %}
