{% extends 'overall/layout' %}
{% block appMetaHead %}
<title>
    Editar Usuario | {{config.build.name}}
</title>
{% endblock %}
{% block appHead %}
<!-- DashForge CSS -->
<link href="assets/dashforge/assets/css/dashforge.profile.css" rel="stylesheet"/>
{% endblock %}
{% block appHeader %}
{% include 'overall/header' %}
{% endblock %}
{% block appBody %}
<div class="content content-fixed content-profile">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="media d-block d-lg-flex">
            <div class="card col-sm-10 col-md-10 col-lg-10 mg-b-20 mg-lg-b-25">
                <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">
                    <h6 class="tx-uppercase tx-semibold mg-b-0">
                        Editar Horario:
                    </h6>
                </div>
                <!-- card-header -->
                <div class="card-body pd-25">
                    <form id="f-nuevo-horario">
                        <div class="form-group row">
                            <label class="col-sm-2">
                            </label>
                            <div class="alert alert-solid d-none col-sm-10" id="response" role="alert">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">
                                Fecha Desde:
                            </label>
                            <div class="col-sm-10">
                                <input class="form-control wd-300 d-inline" id="desde" max="2030-12-31" min="2020-01-01" placeholder="dd-mm-yyyy" type="date"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">
                                Fecha Hasta:
                            </label>
                            <div class="col-sm-10">
                                <input class="form-control wd-300 d-inline" id="hasta" type="date"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">
                                Hora Inicial:
                            </label>
                            <div class="col-sm-10">
                                <select class="form-control wd-100 d-inline" id="horaInicial">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">
                                Hora Final:
                            </label>
                            <div class="col-sm-10">
                                <select class="form-control wd-100 d-inline" id="horaFinal">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                Dias:
                            </div>
                            <div class="col-sm-10">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="lunes" type="checkbox">
                                        <label class="custom-control-label" for="lunes">
                                            Lunes
                                        </label>
                                    </input>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="martes" type="checkbox">
                                        <label class="custom-control-label" for="martes">
                                            Martes
                                        </label>
                                    </input>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="miercoles" type="checkbox">
                                        <label class="custom-control-label" for="miercoles">
                                            Miércoles
                                        </label>
                                    </input>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="jueves" type="checkbox">
                                        <label class="custom-control-label" for="jueves">
                                            Jueves
                                        </label>
                                    </input>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="viernes" type="checkbox">
                                        <label class="custom-control-label" for="viernes">
                                            Viernes
                                        </label>
                                    </input>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="sabado" type="checkbox">
                                        <label class="custom-control-label" for="sabado">
                                            Sábado
                                        </label>
                                    </input>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="domingo" type="checkbox">
                                        <label class="custom-control-label" for="domingo">
                                            Domingo
                                        </label>
                                    </input>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">
                                Duración:
                            </label>
                            <div class="col-sm-10">
                                <select class="form-control wd-100 d-inline" id="dura" name="dura">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mg-b-0">
                            <div class="col-sm-10">
                                <button class="btn btn-primary" id="send">
                                    Crear Horario
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- media-body -->
            <div class="profile-sidebar mg-t-40 mg-lg-t-0 pd-lg-l-25 d-none">
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-lg">
                        <div class="d-flex align-items-center justify-content-between mg-b-20">
                            <h6 class="tx-13 tx-spacng-1 tx-uppercase tx-semibold mg-b-0">
                                Cambios Recientes
                            </h6>
                        </div>
                        <ul class="list-unstyled media-list mg-b-15">
                            <li class="media align-items-center">
                                <a href="">
                                    <div class="avatar avatar-online">
                                        <span class="avatar-initial rounded-circle bg-dark">
                                            S
                                        </span>
                                    </div>
                                </a>
                                <div class="media-body pd-l-15">
                                    <p class="tx-medium mg-b-0">
                                        <a class="link-01" href="">
                                            Socrates Itumay
                                        </a>
                                    </p>
                                    <span class="tx-12 tx-color-03">
                                        2 hours ago
                                    </span>
                                </div>
                            </li>
                            <li class="media align-items-center">
                                <a href="">
                                    <div class="avatar avatar-online">
                                        <span class="avatar-initial rounded-circle bg-primary">
                                            I
                                        </span>
                                    </div>
                                </a>
                                <div class="media-body pd-l-15">
                                    <p class="tx-medium mg-b-0">
                                        <a class="link-01" href="">
                                            Isidore Dilao
                                        </a>
                                    </p>
                                    <span class="tx-12 tx-color-03">
                                        5 hours ago
                                    </span>
                                </div>
                            </li>
                            <li class="media align-items-center">
                                <a href="">
                                    <div class="avatar avatar-offline">
                                        <img alt="" class="rounded-circle" src="https://via.placeholder.com/500"/>
                                    </div>
                                </a>
                                <div class="media-body pd-l-15">
                                    <p class="tx-medium mg-b-0">
                                        <a class="link-01" href="">
                                            Angeline Mercado
                                        </a>
                                    </p>
                                    <span class="tx-12 tx-color-03">
                                        1 day ago
                                    </span>
                                </div>
                            </li>
                            <li class="media align-items-center">
                                <a href="">
                                    <div class="avatar avatar-online">
                                        <span class="avatar-initial rounded-circle bg-info">
                                            K
                                        </span>
                                    </div>
                                </a>
                                <div class="media-body pd-l-15">
                                    <p class="tx-medium mg-b-0">
                                        <a class="link-01" href="">
                                            Kirby Avendula
                                        </a>
                                    </p>
                                    <span class="tx-12 tx-color-03">
                                        2 days ago
                                    </span>
                                </div>
                            </li>
                            <li class="media align-items-center">
                                <a href="">
                                    <div class="avatar avatar-online">
                                        <span class="avatar-initial rounded-circle bg-dark">
                                            S
                                        </span>
                                    </div>
                                </a>
                                <div class="media-body pd-l-15">
                                    <p class="tx-medium mg-b-0">
                                        <a class="link-01" href="">
                                            Socrates Itumay
                                        </a>
                                    </p>
                                    <span class="tx-12 tx-color-03">
                                        2 hours ago
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- profile-sidebar -->
        </div>
        <!-- media -->
    </div>
    <!-- container -->
</div>
<!-- content -->
{% endblock %}
{% block appFooter %}
{% endblock %}
{% block appScripts %}
<script defer="" src="assets/dashforge/lib/perfect-scrollbar/perfect-scrollbar.min.js">
</script>
<script defer="" src="assets/dashforge/lib/moment/min/moment.min.js">
</script>
<script defer="" src="assets/dashforge/assets/js/dashforge.js">
</script>
<script type="text/javascript">
    var idUser = '{{get.id}}';
    var epEliminarHorario = '{{config.build.}}';
</script>
<script defer="" src="dist/app/js/perfil.js?{{ date().timestamp }}">
</script>
<script defer="" src="dist/app/js/editar-horario.js?{{ date().timestamp }}">
</script>
{% endblock %}
