<!DOCTYPE html>
<html lang="es">
    <head>
        {{ base_assets()|raw }}
        <meta content="noindex" name="robots"/>
        <meta content="max-age=0" http-equiv="cache-control"/>
        <meta content="no-cache" http-equiv="cache-control"/>
        <meta content="0" http-equiv="expires"/>
        <meta content="Tue, 01 Jan 1980 1:00:00 GMT" http-equiv="expires"/>
        <meta content="no-cache" http-equiv="pragma"/>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
        <!-- Meta -->
        <meta content="{{config.build.description}}" name="description"/>
        <meta content="{{config.build.author}}" name="author"/>
        <!-- Favicon -->
        <link href="{{config.build.favicon}}" rel="shortcut icon" type="image/x-icon"/>
        <!-- Meta -->
        {% block appMetaHead %}
        {% endblock %}
        <!-- vendor css -->
        <link href="assets/dashforge/lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet"/>
        <link href="assets/dashforge/lib/ionicons/css/ionicons.min.css" rel="stylesheet"/>
        <!-- DashForge CSS -->
        <link href="assets/dashforge/assets/css/dashforge.css" rel="stylesheet"/>
        <!-- some additional css here -->
        {% block appHead %}
        {% endblock %}
    </head>
    <body class="{{appBodyClass}}">
        {% block appHeader %}
        {% endblock %}
        {% block appBody %}
        {% endblock %}
        {% block appFooter %}
        {% endblock %}
        {% set date = "now"|date("Y-m-d") %}
        <script type="text/javascript">
            var api_url = '{{config.api.url}}';
            var urlhome = '{{config.build.url}}';
            var _codMedico_ = '{{owner_user.codMedico}}';
            var _hoyCalendar_ = '{{"now"|date("Y-m-d")}}';
            var _dia_ = '{{"now"|date("d")}}';
            var _mes_ = '{{"now"|date("m")}}';
            var _anio_ = '{{"now"|date("Y")}}';
            var _diaPosterior_ = '{{date|date_modify("+15 day")|date("d-m-Y")}}';
            var epDatosMedico = '{{config.apiHm.baseUrl}}{{config.apiHm.medicos.datosMedico}}';
        </script>
        <script defer="" src="https://polyfill.io/v3/polyfill.min.js">
        </script>
        <script defer="" src="assets/dashforge/lib/jquery/jquery.min.js">
        </script>
        <script defer="" src="assets/dashforge/lib/bootstrap/js/bootstrap.bundle.min.js">
        </script>
        <script defer="" src="assets/dashforge/lib/feather-icons/feather.min.js">
        </script>
        {% block appScripts %}
        {% endblock %}
    </body>
</html>