<ul class="nav navbar-menu">
          <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Menu</li>
          <li class="nav-item {{dashboard}} d-none"><a href="{{config.build.url}}" class="nav-link"><i data-feather="box"></i> Dashboard</a></li>
          <li class="nav-item with-sub {{teleconsulta}}">
            <a href="" class="nav-link"><i data-feather="package"></i> Teleconsulta</a>
            <ul class="navbar-menu-sub">
              <li class="nav-sub-item"><a href="{{config.build.url}}teleconsulta/calendario" class="nav-sub-link" style="color:{{calendario}}"><i data-feather="calendar"></i>Calendario</a></li>
              <li class="nav-sub-item"><a href="{{config.build.url}}teleconsulta/pacientes" class="nav-sub-link" style="color:{{pacientes}}"><i data-feather="users"></i>Pacientes</a></li>
            </ul>
          </li>
          <li class="nav-item {{configuracion}}"><a href="{{config.build.url}}configuracion" class="nav-link"><i data-feather="box"></i> Configuración</a></li>
          <li class="nav-item {{soporte}}"><a href="{{config.build.url}}soporte" class="nav-link"><i data-feather="box"></i> Soporte</a></li>
</ul>