<ul class="nav navbar-menu">
    <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">
        Menu
    </li>
    <li class="nav-item {{dashboard}} d-none">
        <a class="nav-link" href="{{config.build.url}}">
            <i data-feather="box">
            </i>
            Dashboard
        </a>
    </li>
    <li class="nav-item {{mispacientes}}">
        <a class="nav-link" href="{{config.build.url}}pacientes">
            <i data-feather="box">
            </i>
            Mis Pacientes
        </a>
    </li>
    <li class="nav-item {{calendario}}">
        <a class="nav-link" href="{{config.build.url}}teleconsulta/calendario">
            <i data-feather="box">
            </i>
            Mi Calendario
        </a>
    </li>
    <li class="nav-item d-none {{soporte}}">
        <a class="nav-link" href="{{config.build.url}}soporte">
            <i data-feather="box">
            </i>
            Soporte
        </a>
    </li>
</ul>