{% extends 'overall/layout' %}
{% block appMetaHead %}
<title>
    Usuarios | {{config.build.name}}
</title>
{% endblock %}
{% block appHead %}
<!-- DashForge CSS -->
<link href="assets/dashforge/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet"/>
<link href="assets/dashforge/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet"/>
<link href="assets/dashforge/assets/css/dashforge.css" rel="stylesheet"/>
<link href="assets/dashforge/assets/css/dashforge.profile.css" rel="stylesheet"/>
{% endblock %}
{% block appHeader %}
{% include 'overall/header' %}
{% endblock %}
{% block appBody %}
<div class="content content-fixed bd-b">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h4 class="mg-b-5">
                    Usuarios
                </h4>
                <p class="mg-b-0 tx-color-03">
                    Configura los accesos de tus usuarios.
                </p>
            </div>
        </div>
    </div>
    <!-- container -->
</div>
<!-- content -->
<div class="content">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="row">
            <!-- col -->
            <div class="col-sm-12 col-lg-12 col-xl-12">
                <h3>
                    Todas los Usuarios:
                </h3>
                <div class="row">
                    <div class="col-sm-12 mg-b-20">
                        <div class="d-flex flex-row-reverse">
                            <div>
                                <a class="btn btn-outline-primary" href="{{config.build.url}}configuracion/usuarios/nuevo">
                                    <i data-feather="plus">
                                    </i>
                                    Nueva Usuario
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-striped mg-b-0" id="usuarios" width="100%">
                            </table>
                            <div class="placeholder-paragraph" id="v-loader">
                                <div class="line">
                                </div>
                                <div class="line">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- col -->
        </div>
    </div>
</div>
<!-- content -->
<template id="btn-table-opc">
    <div class="btn-group" role="group">
        <a class="btn btn-xs btn-outline-primary" href="{{config.build.url}}configuracion/usuarios/editar/?id=%idUser%" role="button" title="Actualizar">
            <i class="icon ion-md-create">
            </i>
            Editar
        </a>
        <a class="btn btn-xs btn-outline-danger" href="{{config.build.url}}configuracion/usuarios/eliminar/?id=%idUser%" role="button" title="Eliminar">
            <i class="icon ion-md-trash">
            </i>
            Eliminar
        </a>
    </div>
</template>
<!-- content -->
{% endblock %}
{% block appFooter %}
{% endblock %}
{% block appScripts %}
<script defer="" src="assets/dashforge/lib/perfect-scrollbar/perfect-scrollbar.min.js">
</script>
<script defer="" src="assets/dashforge/lib/datatables.net/js/jquery.dataTables.min.js">
</script>
<script defer="" src="assets/dashforge/lib/datatables.net-dt/js/dataTables.dataTables.min.js">
</script>
<script defer="" src="assets/dashforge/lib/datatables.net-responsive/js/dataTables.responsive.min.js">
</script>
<script defer="" src="assets/dashforge/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js">
</script>
<script defer="" src="assets/dashforge/assets/js/dashforge.js">
</script>
<script defer="" src="dist/app/js/usuarios.js?{{ date().timestamp }}">
</script>
{% endblock %}
